@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

body {
  margin: 0;
  font-family: 'Harmattan', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
}

table,
td {
  border-collapse: collapse;
}

h1 {
  margin: 1rem 0;
}

p {
  margin: 0 0 2vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
